body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: fit-content;
    margin: 0;
    background-color: lightslategray;
    height: 50em;
}

.calculator{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    max-width: fit-content;
}

.display{
    display: flex;
    width: 26em;
    height: 3em;
    margin-top: 20em;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background-color: #9F9D9A;
    color:antiquewhite;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 10px;
}

.calculator_Buttons{
    min-width: 26em;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    background-color: #EE6C4D;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.row_Buttons{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.number_Button{
    color:antiquewhite;
    width: 10em;
    height: 10em;
    cursor: pointer;
    background-color: #17A398;
    border: 1px solid #9F9D9A;
    border-radius: 10px;
    box-shadow: inset 0px -3px 7px rgba(0, 0, 0, 0.2);
}

.operator_Button{
    color:antiquewhite;
    width: 10em;
    height: 10em;
    cursor: pointer;
    background-color: #9D48DF;
    border: 1px solid #9F9D9A;
    border-radius: 10px;
    box-shadow: inset 0px -3px 7px rgba(0, 0, 0, 0.2);
}

#clear{
    background-color: #FF3300;
}